.container-bg
{
    background: url(../assets1/Back.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-attachment: scroll;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
}
h1
{
    color: cornsilk;
    font-family:cursive;
    text-decoration: underline;
    text-align: center;
    font-family: 'Cinzel', serif;
}
.Intro
{
  color: cornsilk;
  text-align: center;
  font-size: x-large;
  
}

img{
  height: 300px;
}

.container-cards
{
   margin-left: 20%;
   color: cornsilk;

}
.big 
{
  text-decoration: underline;
}
div
{
  font-family: 'Cinzel', serif;
}
p
{
  font-family: 'Cinzel', serif;
}






/* 
-----Manuel------------------------------------------------------------- */
.pad{
  padding: 1rem;
}

.Header1{
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-style: italic;
}
.PG {
    display: flex;
    justify-content: center;
    text-align: center;
}
.Top1{
  display: flex;
  justify-content: left;
  align-items: center;
}
.Movie1{
  display: flex;
  justify-content: space-evenly;
  text-align:center;
  color: whitesmoke;
  font-size: x-large;
  font-style: italic;
}
.Movie2{
  display: flex;
  justify-content: space-evenly;
  text-align:center;
  color: whitesmoke;
  font-size: x-large;
  font-style: italic;
}
.Head2{
  display: flex;
    justify-content: center;
    color: whitesmoke;
    font-style: italic;
}.container-bg
{
    justify-content: center;
    background: url(../assets1/Back.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800vh;
    width: 100%;
}

.BGI{
  justify-content: center;
  background: url(../assets1/Back.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800vh;
  width: 100%;
}
